<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TimeAttendanceSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="TimeAttendanceSystem.Properties.Settings.TASDesktopConnectionString"

      connectionString="Data Source=Ahsin-PC\SQLEXPRESS2014;Initial Catalog=TASDesktop;Persist Security Info=True;User ID=sa;Password=Cns123;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="TAS2013Entities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASAD-PC;initial catalog=TASDesktop;persist security info=True;user id=sa;password=Cns123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TimeAttendanceSystem.Properties.Settings.TASDesktopConnectionString1"
      connectionString="Data Source=ASAD-PC;Initial Catalog=TASDesktop;Persist Security Info=True;User ID=sa;Password=Cns123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <applicationSettings>
    <TimeAttendanceSystem.Properties.Settings>
      <setting name="ReportPath" serializeAs="String">
        <value>D:\\inven Projects\\TimeAttendanceSystem\\TimeAttendanceSystem\\Reports\\RDLC\\</value>
      </setting>
    </TimeAttendanceSystem.Properties.Settings>
  </applicationSettings>
</configuration>